<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ast.jobsonthemapemployer">

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyD_q9lYgjcQHUzh6CUkb_W44dSg88gwMuQ" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Privacy_policy" />
        <activity android:name=".TermAndCondition" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".New_Post" />
        <activity
            android:name=".Signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".New_Job" />
        <activity android:name=".Test" />
        <activity android:name=".Posted_job" />
        <activity
            android:name=".Payment_act"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Skills_categories" />
        <activity
            android:name=".PreviousPost_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Payment_Information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Statements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivePost_fragement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Agency"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Current_ads" />
        <activity
            android:name=".Notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Email" />
        <activity android:name=".Chat" />
        <activity android:name=".Filter_ac" />
        <activity
            android:name=".Agents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Current_Job_Fragments"></activity>
    </application>

</manifest>